---
import { getShortDescription, generateSourceUrl } from "../lib/utils";
import type { ProjectFrontmatter } from "../lib/types";
import type { MarkdownLayoutProps } from "astro";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";
import Section from "../components/common/Section.astro";
import Anchor from "../components/common/Anchor.astro";
import { GLOBAL } from "../lib/variables";


type Props = MarkdownLayoutProps<ProjectFrontmatter>;

const { frontmatter } = Astro.props;
const shortDescription = getShortDescription(frontmatter.description);
const sourceUrl = generateSourceUrl(frontmatter.filename, "projects");
---

<script>
const linkSvg = ` 
  <svg 
      xmlns="http://www.w3.org/2000/svg" 
      class="inline-block h-6 w-6 absolute bottom-0 -left-6 top-1.5" 
      aria-hidden="true" 
      focusable="false" 
      viewBox="0 0 24 24" 
      stroke-width="1" stroke="currentColor" 
      fill="none" 
      stroke-linecap="round" 
      stroke-linejoin="round">
          <path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
  </svg>
  `;
  
  const anchorHeadings = document.querySelectorAll("h2, h3, h4, h5, h6");
  
  	[...anchorHeadings]
  		.forEach((heading) => {
  			const anchor = document.createElement("a");
  			anchor.className = "group relative cursor-pointer";
  			anchor.href = `#${heading.id}`;
  			heading.parentNode!.insertBefore(anchor, heading);
  			
  			const linkIconWrapper = document.createElement("div");
  			linkIconWrapper.className = "hidden group-hover:block";

  			linkIconWrapper.innerHTML = linkSvg;
  			anchor.appendChild(linkIconWrapper);
  			anchor.appendChild(heading);
  		});
  </script>

<Layout>
  <Fragment slot="head">
    <title>{frontmatter.title} • {GLOBAL.username}</title>
    <meta name="description" content={frontmatter.description} />
    <meta property="og:title" content={`${frontmatter.title} • ${GLOBAL.username}`} />
    <meta property="og:description" content={shortDescription} />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`} />
    <meta property="og:url" content={frontmatter.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${frontmatter.title} • ${GLOBAL.username}`} />
    <meta name="twitter:description" content={shortDescription} />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={sourceUrl} />
  </Fragment>
  <Section class="mt-8">
    <div class="flex flex-col gap-4 mt-8 mb-16">
      <h1 class="text-2xl sm:text-4xl leading-tight font-display">
        {frontmatter.title}
      </h1>
      <div class="flex flex-wrap text-sm gap-2">
        {
          frontmatter.tags
            ? frontmatter.tags.map((tag) => (
                <span class="-zag-text -zag-bg zag-transition font-semibold py-1 px-2">
                  {tag}
                </span>
              ))
            : null
        }
      </div>
      <div class="flex gap-2">
        {
          frontmatter.githubUrl ? (
            <Anchor url={frontmatter.githubUrl} class="text-base" external>
              GitHub
            </Anchor>
          ) : null
        }
        {
          frontmatter.liveUrl ? (
            <Anchor url={frontmatter.liveUrl} class="text-base" external>
              Live
            </Anchor>
          ) : null
        }
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
  </Section>
</Layout>

<style>
</style>
